layout {
    tab name="vim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "#[fg=#f5e0dc,bold]{session}{tabs}"
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "false"
              border_char     "─"
              border_format   "#[fg=#c6a0f6]{char}"
              border_position "top"

              hide_frame_for_single_pane "true"

              mode_normal  "#[bg=#cba6f7] "
              mode_tmux    "#[bg=#f2cdcd] "

              tab_normal   "#[fg=#f5e0dc] {name} "
              tab_active   "#[fg=#f5c2e7,bold,italic] {name} "

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=#f5c2e7] {stdout} "
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"

              datetime        "#[fg=#f5e0dc,bold] {format} "
              datetime_format "%A, %d %b %Y %H:%M"
              datetime_timezone "America/Mexico_City"
            }
        }
        children
        pane size=1 borderless=true {
          plugin location="zellij:status-bar"
        }
    }
}
